*{
    padding: 0;
    margin: 0;
}
.bg-img{
    background-image: url("image/banner-bg.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}
.navbar{
    background-color: aqua;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    position: fixed;
    width: 100%;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 25px;
}
.after-scroll-navbar{
    background-color: blue;
}