h1{
    text-align: center;
    margin-top: 12rem;
    color: #fff;
}
h1::after{
    border-right: 1px solid #fff;
    content: '';
    position: relative;
    left: 10px;
    animation: blink 0.5s infinite;
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
       opacity: 1;
    }
}

body{
    background-color: blueviolet;
}