.div1{
    background-image: url(back.jpg);
    height: 1000px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.left{
    width: 45%;
    padding: 50px;
    margin-left: 20px;
    box-sizing: border-box;
    float: left;
    text-align: justify;
}
.main1{
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: scale(0.1);
}
.active{
    opacity: 1;
    transform: scale(1);
}